@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: url("../assets/dungeons-bg.jpg") no-repeat center center;
  background-size: cover;
  font-family: "Uncial Antiqua", serif;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

.card-container {
  perspective: 1000px; /* Create a 3D space for the card to flip */
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Preserve 3D transformation */
  transition: transform 0.6s ease-in-out; /* Smooth flipping */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side when flipped */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background: teal;
  border-radius: 10px;
}

.card-back {
  background: darkslategray;
  transform: rotateY(180deg); /* Place the back face initially */
}

/* Flip the card when container is hovered or clicked */
.card-container:hover .card {
  transform: rotateY(180deg);
}

@keyframes torch-glow {
  0%,
  100% {
    box-shadow: 0 0 30px rgba(255, 140, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 50px rgba(255, 140, 0, 0.8);
  }
}

.torch {
  width: 10px;
  height: 10px;
  background: orange;
  border-radius: 50%;
  animation: torch-glow 3s infinite;
}

.bg-paper {
  background: url("../assets/paper-bg.png") no-repeat center center;
  background-size: cover;
}

.bg-parchment {
  background: url("../assets/parchment.png") no-repeat center center;
  background-size: cover;
}

.brown {
  color: #4b2e2e;
}

.dark-brown {
  color: #5c4033;
}

.royal-red {
  color: #7d2626;
}

.dark-red {
  color: #8b0000;
}

.royal-gold {
  color: #a67c00;
}

.muted-gold {
  color: #c4a484;
}
